<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quackie{% endblock %}</title>
    <link rel="stylesheet" href="{% load static %}{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/duck_icon_ampli.ico' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    
    <script src="{% load static %}{% static 'js/main.js' %}"></script>
</body>
</html>
